.messages-thread {
    display: flex;
    align-items: center;
    height: 78px;
    padding-left: 25px;
    border-bottom: 1px solid #edf2f9;
    cursor: pointer;

    &:hover {
        background-color: #f5f5f5;
    }

    &__avatar {
        margin-right: 10px;

        img {
            width: 40px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    &__details {
        &--name {
            width: 250px;
            font-weight: 500;
            font-size: 16px;
            color: #2a2a2a;
            margin-bottom: 5px;
        }

        &--last-message {
            width: 250px;
            font-size: 12px;
            color: #888;
            white-space: nowrap;    
            overflow: hidden;       
            text-overflow: ellipsis;   
        }
    }
}
