.chat-box-content {
    height: calc(100% - 75px - 75px - 20px);
    overflow-y: auto;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;

    &__time-start {
        font-size: 12px;
        text-align: center;
        margin: 10px 0;
    }

    &__message-recive, &__message-send {
        width: calc(75% - 50px);
        position: relative;
        padding-left: 25px;
        min-height: 40px;
        margin-top: 1px;

        &--images {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            img {
                max-width: 100%;
                border-radius: 10px;
                margin: 2px 0;
            }
        }
    }

    &__message-recive {
        &--avatar {
            width: 40px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            bottom: 0;
        }

        &--content {
            display: inline-block;
            margin-left: 50px;
            background-color: #3f87f51a;
            color: #3f87f5;
            padding: 10px 15px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            max-width: 100%;
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        &--images {
            justify-content: flex-start;
            margin-left: 50px;
        }
    }

    &__message-send {
        margin-right: 25px;
        margin-left: 25%;
        &--content {
            float: right;
            background: #ededed;
            color: #53535f;
            padding: 10px 15px;
            overflow: hidden;
            border-radius: 10px;
        }

        &--images {
            justify-content: flex-end;
        }
    }

    &__typing-indicator {
        display: flex;
        align-items: center;
        margin-top: 50px;
        position: relative;
    
        &--avatar {
            position: absolute;
            left: 25px;
            bottom: 0;
            margin-right: 10px;
        }
    
        &--avatar img {
            width: 40px;
            height: 40px;
            border-radius: 50%; 
            object-fit: cover;
        }
    
        &--inner-dots {
            display: flex;
            align-items: center;
            position: absolute;
            left: 75px;
            bottom: 5px;
    
            span {
                display: block;
                width: 8px;
                height: 8px;
                margin: 0 3px;
                border-radius: 50%;
                background-color: #888;
                animation: blink 1.4s infinite both;
    
                &:nth-child(2) {
                    animation-delay: 0.2s;
                }
    
                &:nth-child(3) {
                    animation-delay: 0.4s;
                }
            }
        }
    }
    
    @keyframes blink {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
}