.notification-list {
    font-size: 18px;
    color: #53535f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    .anticon-bell {
        transition: color 0.3s ease;

        &:hover {
            color: #1890ff;
            cursor: pointer;
        }
    }
}